<main>
<div>
  <header class="align-center">Online Course Management System</header>
</div>
  <div class="MarginTop display-flex gap" *ngIf="!this.$sharedservice.IsLoginSuccess">
    
    <label >User Name :</label>
    <input type="text" [(ngModel)]="UserName">

    <label >Password :</label>
    <input type="text" [(ngModel)]="Password">

    <button (click)="Login()">Login</button>
  </div>

  <nav *ngIf="$sharedservice.IsLoginSuccess">
    <div class="MarginTop display-flex gap">
      <a *ngIf="$sharedservice.IsAdmin" routerLink="admin/coursebuilder">Course builder</a>&nbsp;
      <a routerLink="course/catalog">Catalog</a>&nbsp;
      <a routerLink="enroll/enrollment">Enrollment</a>  
    </div>
  </nav>
</main>
<router-outlet />
